/*
box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
box-shadow:inset 3px 3px 3px #d0d0d0,inset -3px -3px 3px #f8f8f8;
*/

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    //font-family: 'Bodoni Moda', serif;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.flex {
    display: flex;
}

p {
    margin: 0;
}

[id] {
    scroll-margin-top: 2ex;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
